.first {
  margin-left: 5px;
}

.second {
  margin-left: 88px;
}

.third {
  margin-left: 47px;
}

.fourth {
  margin-left: 39px;
}

.drinkName {
  margin-left: 19px;
}

.saveBtn {
  display: none;
}
